<div class="contents row">
  <div class="container">
    <%= form_withを用いてフォームを完成させる %>
      <h3>
        投稿する
      </h3>
      <%= テキストボックスのフォームを作成し、nameカラムを保存, placeholder: "Nickname" %>
      <%= テキストエリアのフォームを作成し、textカラムを保存, placeholder: "text" , rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div> 